body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #50a5e6;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center #tweet_search_form h1 {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
    font-weight: lighter;
}

.center #tweet_search_form input[type="text"] {
    
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
    padding: 3px 3px; line-height: 28px;
    font-size:22px;
    color: #50a5e6;
}

.center #tweet_search_form input[type="submit"] {
    
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 33px;
    display: block;
    color: #50a5e6;

}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
