.nav {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #50a5e6;
    margin-left: 0px;
    margin-right: 0px;
    display: block;

}

.nav #loadingDiv {
    margin-left: 48%;
    margin-top: 3px;
}

.nav #tweet_search_form {
    height: 50px;
    width: 100%;
}

.nav #tweet_search_form .title-text{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 33px;
    display: inline-block;
    
}

.nav #tweet_search_form .search-box-in-form {
    float: right;
}

.nav #tweet_search_form input[type="text"] {
    border: 0px;
    display: inline-block;
    color: #50a5e6;
    margin-top: 16px;

}

.nav #tweet_search_form input[type="submit"] {
    display: inline-block;
    color: #50a5a6;
    margin-top: 16px;
    margin-right: 20px;

}

#tweet_list {
    margin-top: 60px;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;

}

ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul li .create-time {
    font-size: 10px;
    color: lightgray;
}
