<!DOCTYPE html>
<html>
<head>
    <title>Twitter Feed</title>
</head>
<body>   
 
    <!-- JavaScript -->
    <script src="../js/libs/jquery.min.js"></script>
    <script src="../js/libs/underscore-min.js"></script>
    <script src="../js/libs/backbone-min.js"></script>   
    <script src="../js/twitter_feed.js"></script>

    <link rel="stylesheet" href="../contents/css/site.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../contents/css/tweet_page.css">

    <div class="nav">
        <form id="tweet_search_form" method="get" action="/twitter_feed/">
            <span class="title-text">Tweets</span>
            <span class="search-box-in-form">
                <input type="text" id="query" name="query" value="" />
                <input type="submit" id="reload_search" value="Reload" />
            </span>

            <div id="loadingDiv">loading...</div>
        </form> 
    </div>


    <div id="tweet_list"></div>
    
    <div id="search-box"></div>

    <!-- Templates -->
    <script type="text/template" id="tweet_item">
        <div>
            <span><img src="<%= user.profile_image_url%>"></span>
            <span><%= user.name%></span>
        </div>
        <div></div>
        <div><%= text %></div>
        <div class="create-time"><%= created_at %></div>
    </script>

</body>
</html>
